<!DOCTYPE html>
<html>
    <head>
        <title>this is your event bitch </title>
        <meta charset="utf-8">

    </head>
    <body>
        <section id="eventfront">
            <div id="wrapper">
              <form action="/verify" method="POST" id="invites">
                <p>
                    <p>GIVE YOUR #:</p>
                    <input type="text" id="guest-phone" onkeydown="numberFormat(this)" name="phone_number">
                </p>
                <p>
                    hit this:
                    <input type="submit" value="INVITE" onclick="return disable(this);">
                </p>

            </div>
        </section>

        <script>
          function disable(obj) {
              obj.form.submit();
              obj.disabled = 'disabled';
              return true;
          }
          function numberFormat(field) {
              const formattedNumber = formatPhone(field.value);
              field.value = formattedNumber;
          }
          function formatPhone(value) {
              if (!value) {return value;}
              const numString = value.replace(/[^\d]/g, '');
              const numStringLength = numString.length;

              if (numStringLength < 4) {
                  return numString;
              } else if (numStringLength < 7) {
                  return `(${numString.slice(0,3)}) ${numString.slice(3)}`;
              } else {
                  return `(${numString.slice(0,3)}) ${numString.slice(3,6)}-${numString.slice(6,9)}`;
              }
          }
        </script
    </body>
</html>
