<!DOCTYPE html>
<html>
    <head>
        <title>this is your event bitch </title>
        <meta charset="utf-8">
    </head>
    <body>
        <section id="eventfront">
            <div id="wrapper">
              <%= form_with(url: "/verify/#{@attendee.id}", method: :post, id: "findaccount") do |form| %>
                <%= form.label("findaccount", "verification code please") %>
                <%= form.password_field("otp_code") %>
                <%= form.submit 'here it is!' %>
              <% end %>
            </div>
        </section>
    </body>
</html>
