body {
    background: #222;
    width: 60%;
    margin: auto;
}
p, h1, h3, img, label, input, textarea {
    color: #eee;
}
input, textarea {
    background-color: #222;
}
img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

/* event front styles */
#wrapper {
    display: flex;
    width: 100%;
}
#left, #right {
    background-color: #333;
    padding: 2%;
    border-radius: 10px;
}
#left {
    width: 55%;
    margin: 1.25%;
}
#right {
    width: 40%;
    margin: 1.25%;
}
.infobox {
    display: flex;
    justify-content: space-between;
}
.infobox p {
    margin: 0.5% 0;
}
#info {
    padding: 2%;
    border: 2px solid #eee;
    border-radius: 8px;
}
#evt_title {
    text-align: center;
}

/* to-do
add margins around form elements